*.o
*.a
*.core
audiocapt
audiocaptplay
audioplay
config.status
configure
fecdec
fecenc
filerepeat
jpegcapt
jpegcat
jpegplay
jpegrenum.rb
jpegsave
ntspcall
ntspwait
pipeerr
pipeinfo
pipesave
rtpdec
rtpenc
rtprecv
rtpsend
udprecv
udpsend
